/* Hero */

.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8) 100%,
      rgba(47, 48, 58, 0.8) 100%
    ),
    url("../img/hero-img.jpg");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-section {
  width: 696px;
  display: inline-block;
  text-align: center;
}

.hero-title {
  margin-top: 0px;
  margin-bottom: 30px;

  color: var(--primary-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;

  text-transform: uppercase;
  letter-spacing: 0.06em;
}

/* Section */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  /* background-color: tomato; */
}

.section.no-padding {
  padding-top: 0;
  padding-bottom: 0;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/* Features */

.features-section {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 94px;
  padding-bottom: 93px;
  /* background-color: turquoise; */
  border-bottom: 1px solid #ececec;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list {
  display: flex;
}
.features-list .item:not(:last-child) {
  margin-right: 30px;
}

.features-title {
  margin-top: 30px;
  margin-bottom: 10px;

  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features-desc {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--secondary-text-color);
  line-height: 1.7;
}

.features-card {
  display: flex;
  width: 270px;
  height: 120px;
  padding: 25px 100px;
  background-color: #f5f4fa;
  border-radius: 4px;
  align-items: center;
}

.icon-features {
  width: 70px;
  height: 70px;
}

/* Works */

.image {
  display: block;
  border-radius: 4px;
}

.works-list {
  display: flex;
}

.works-list .item:not(:last-child) {
  margin-right: 30px;
}

.works-title {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  border-radius: 0px 0px 4px 4px;

  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}

/* Our Team */

.team-list {
  display: flex;

  text-align: center;
}

.team-list > .item {
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding-bottom: 24px;
}

.team-list .item:not(:last-child) {
  margin-right: 30px;
}
.team-img {
  display: block;
  margin-bottom: 30px;
  border-radius: 4px 4px 0px 0px;
}

.team-info {
  background-color: var(--primary-white-color);
}

.team-title {
  margin-top: 0;
  margin-bottom: 10px;
  /* padding-top: 30px; 
  padding-bottom: 10px;*/

  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.team-job {
  margin-top: 0;
  margin-bottom: 16px;
  /* padding-bottom: 16px; */

  color: var(--secondary-text-color);

  font-size: 16px;
  line-height: 1.18;
}

.team-bg {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f5f4fa;
}
.links-list {
  display: flex;
  justify-content: center;
}

.icons-item:not(:last-child) {
  margin-right: 10px;
}

.links-bg {
  display: flex;
  padding: 12px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.links-bg:hover {
  background-color: var(--accent-color);
}

.team-links {
  fill: #afb1b8;
}

.links-bg:hover .team-links {
  fill: var(--primary-white-color);
}

/* Clients */

.clients-list {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.clients-list > .element {
  display: flex;
}

.clients-list .element:not(:last-child) {
  margin-right: 30px;
}

.client-links-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.client-links-bg:hover {
  border: 1px solid #2196f3;
}

.clients-links {
  fill: #afb1b8;
}

.client-links-bg:hover .clients-links {
  fill: var(--accent-color);
}
